img {
    max-width: 120vw;
    height : auto;
    width : auto;
    max-height : 40vh;
}

.movieDetail{
	background-color: rgba(0,0,0,.8);
	color: rgb(255,255,255);
	font-family: 'Acme', sans-serif;
	font-size: 3vmin;
}